@import "./variables";
@import "./mixins";
@import "./common";
@import "./components/photo";

button input {
  box-sizing: border-box;
}
.button {
  display: inline-flex;
  background-color: blue;
  color: white;
  border: none;

  &--secondary {
    background-color: lightblue;
    color: black;
  }
}
body {
  h1 {
    color: blue;
  }
}
