.divider {
  background-color: var(--primary-color);

  &--horizontal-l {
    width: 210px;
    height: 1px;
  }

  &--horizontal-s {
    width: 100px;
    height: 1px;
  }

  &--vertical {
    height: 560px;
    width: 1px;
  }
}
